geopandas==1.1.1
libpysal==4.13.0
matplotlib==3.10.3
numba==0.61.2
numpy==2.3.1
pandas==2.3.0
psutil==7.0.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
scipy==1.16.0
simpledbf==0.2.6
spglm==1.1.0
spreg==1.8.3
tqdm==4.67.1
